#light{
   color: rgb(95, 95, 95);
}
#invalido{
   display: none;
   font-size: 13px;
   color:rgb(179, 45, 22);
}
#invalidow1{
   display: none;
   font-size: 13px;
   color:rgb(179, 45, 22);
}
#invalidow2{
   display: none;
   font-size: 13px;
   color:rgb(179, 45, 22);
}
#invalidonp1{
   display: none;
   font-size: 13px;
   color:rgb(179, 45, 22);
}
#invalidol1{
   display: none;
   font-size: 13px;
   color:rgb(179, 45, 22);
}

#invalidonp2{
   display: none;
   font-size: 13px;
   color:rgb(179, 45, 22);
}
#invalidol2{
   display: none;
   font-size: 13px;
   color:rgb(179, 45, 22);
}

#invalidostr1{
   display: none;
   font-size: 13px;
   color:rgb(179, 45, 22);
}
#invalidostr2{
   display: none;
   font-size: 13px;
   color:rgb(179, 45, 22);
}

#validostr{
   display: none;
   font-size: 13px;
   color:rgb(22, 179, 43);
}
#len1{
   color: rgb(95, 95, 95);
}
#len2{
   color: rgb(95, 95, 95);
}
#led{
   color: rgb(95, 95, 95);
}